vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 May 2012 12:36:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|chiwakii-home\\chiwakii
vti_modifiedby:SR|chiwakii-home\\chiwakii
vti_timecreated:TR|12 May 2012 10:56:29 -0000
vti_backlinkinfo:VX|issue/index.html
vti_nexttolasttimemodified:TW|14 May 2012 12:35:33 -0000
vti_cacheddtm:TX|14 May 2012 12:36:48 -0000
vti_filesize:IR|158
vti_cachedlinkinfo:VX|S|img/pannya.jpg
vti_cachedsvcrellinks:VX|FSUS|issue/img/pannya.jpg
